/*some rotateY style*/
.r10{
    transform:rotateY(30deg) rotateX(30deg) perspective(50px);
}
.r5{
    transform:rotateY(40deg) rotateX(-16deg) perspective(50px);
}
.r15{
    transform:rotateY(45deg) rotateX(10deg) perspective(50px);
}
.r7{
    transform:rotateY(30deg) rotateX(-30deg) perspective(50px);
}
.r-10{
    transform:rotateY(-30deg) rotateX(-30deg) perspective(50px);
}
.r-5{
    transform:rotateY(-40deg) rotateX(16deg) perspective(50px);
}
.r-15{
    transform:rotateY(-45deg) rotateX(-10deg) perspective(50px);
}
.r-7{
    transform:rotateY(30deg) rotateX(-30deg) perspective(50px);
}