
@keyframes hidemenu{
    from{        
        transform:perspective(200px)rotateY(-3deg);
    }
    to{
        transform:perspective(200px)rotateY(-90deg);
    }
}
.hidemenu{
    animation: hidemenu .2s;
    animation-fill-mode:forwards;
}
@keyframes showmenu{
    from{        
        transform:perspective(200px)rotateY(-90deg);
    }
    to{
        transform:perspective(200px)rotateY(-3deg);
    }
}
.showmenu{
    animation: showmenu .2s;
    animation-fill-mode:forwards;
}

@keyframes hidew{
    from{        
        transform:perspective(200px)rotateY(3deg);
    }
    to{
        transform:perspective(200px)rotateY(90deg);
    }
}
.hidew{
    animation: hidew .2s;
    animation-fill-mode:forwards;

}

@keyframes showw{
    from{        
        transform:perspective(200px)rotateY(90deg);
    }
    to{
        transform:perspective(200px)rotateY(3deg);
    }
}
.showw{
    animation: showw .2s;
    animation-fill-mode: forwards;
}
@keyframes st-shadow{
    0%{
        clip-path: polygon(30px 0%, 100% 0, 100% 842px, 137px 100%, 0 100%, 0 58px);
    }
    50%{
        clip-path: polygon(5px 2px, 100% 0, 100% 842px, 137px 100%, 0 100%, 0 58px);
    }
    100%{
        clip-path: polygon(30px 0%, 100% 0, 100% 842px, 137px 100%, 0 100%, 0 58px);
    }
}