
@keyframes hidemenu{
    from{        
        transform:perspective(200px)rotateY(-3deg);
    }
    to{
        transform:perspective(200px)rotateY(-90deg);
    }
}
.hidemenu{
    animation: hidemenu .2s;
    animation-fill-mode:forwards;
}
@keyframes showmenu{
    from{        
        transform:perspective(200px)rotateY(-90deg);
    }
    to{
        transform:perspective(200px)rotateY(-3deg);
    }
}
.showmenu{
    animation: showmenu .2s;
    animation-fill-mode:forwards;
}

@keyframes hidew{
    from{        
        transform:perspective(200px)rotateY(3deg);
    }
    to{
        transform:perspective(200px)rotateY(90deg);
    }
}
.hidew{
    animation: hidew .2s;
    animation-fill-mode:forwards;

}

@keyframes showw{
    from{        
        transform:perspective(200px)rotateY(90deg);
    }
    to{
        transform:perspective(200px)rotateY(3deg);
    }
}
@keyframes wavingshadow{
    0%{
        box-shadow: -14px -12px 0px #333;
    }
    20%{
        box-shadow: -17px -9px 0px #333;
    }
    40%{
        box-shadow: -12px -12px 0px #333;
    }
    60%{
        box-shadow: -8px -17px 0px #333;
    }
    80%{
        box-shadow: -15px -15px 0px #333;
    }
    100%{
        box-shadow: -14px -12px 0px #333;
    }
}
.showw{
    animation: showw .2s;
    animation-fill-mode: forwards;
}