.left{
    position:absolute;
    left:240px;
    /* height:1040px; */
    transform-origin: right;
    /* transform:perspective(1500px)rotateY(-23deg); */
}
.starter{
    right:0px;
    transform-origin: right;
    position: absolute;
    /* box-shadow: -14px -12px 0px #333; */
    padding: 20px;
    line-height: 20px;
    overflow: auto;
    width:130px;
    height:900px;
}
.r21{
    margin-right:21px;
}
.st-shadow-r{
    transform: rotate(1deg);
    margin-right: 29px;
    margin-top: -2px;
    width: 132px;
    height: 920px;
    clip-path: polygon(0px 0%, 100% 0, 100% 100%, 8px 99%);
}
.st-shadow-b{
    transform: rotate(-1deg);
    margin-right: 11px;
    margin-top: -10px;
    width: 160px;
    height: 940px;
    clip-path: polygon(10px 8px, 100% 0, 100% 99%, 0 100%);
}
.starter div{
    cursor: pointer;
}
.st-list{
    margin:0px 20px;
}
.h200{
    height:400px;
}
.watcher{
    height:940px;
    width:170px;
    padding:0px
}