.left{
    position:absolute;
    left:30px;
    /* height:1040px; */
    transform-origin: right;
    transform:perspective(200px)rotateY(-3deg);
}
.starter{
    position: absolute;
    /* box-shadow: -14px -12px 0px #333; */
    padding: 20px;
    line-height: 20px;
    overflow: auto;
    width:130px;
    height:900px;
}
.st{
    background-color: #999;
}
.st-shadow-r{
    transform:rotate(1deg);
    margin-left:-8px;
    margin-top:-10px;
}
.st-shadow-b{
    margin-left:15px;
    margin-top:10px;
}
.starter div{
    cursor: pointer;
}
.st-clip{
    clip-path: polygon(30px 0%, 100% 0, 100% 842px, 137px 100%, 0 100%, 0 58px);
}
