.fl{
    float:left;
}

.middle{
    position:absolute;
    left:210px;
    overflow: auto;
    width:60px;
}
.menu{
    list-style: none;   
    margin:0px;
    padding:0px;
}
.mbtn{
    width:60px;
    height:60px;
    line-height: 60px;
    text-align: center;
    /* box-shadow: 7px 7px 0px #333; */
    margin-top: 12px;
}
.drag{
    -webkit-app-region:drag;
}
.close{
    background-color: red;
}
.boot{
    background-color: gray;
}

.gy{
    color:white;
    background-color: #777;
}
.hidden{
    display:none;
}
.top10{
    margin-top:10px;
}
.r{
    background-color: red;
}
.b{
    background-color: black;
}