.fl{
    float:left;
}
.gy{
    color:white;
    background-color: #777;
}
.middle{
    position:absolute;
    left:240px;
    width:60px;
}
.menu{
    list-style: none;   
    margin:0px;
    padding:0px;
}
@font-face{
    font-family:"berlin";
    src:url('static/berlin.ttf')
}
.btn{
    font-family:'berlin';
    position: relative;
    z-index:10;
    line-height: 20px;    
}
.mbtn{
    position: relative;
    font-family:'berlin';
    width:60px;
    height:60px;
    line-height: 60px;
    text-align: center;
    margin-top: 12px;
    cursor: pointer;
    font-size:65px;
    font-weight:bold;
    color:white;
    text-transform:uppercase;
    -webkit-text-stroke:#111 2px;
    z-index:10;
    text-shadow:
    -1px 0px #111
    ,-2px 0px #111
    ,-3px 0px #111
    ,-4px 0px #111
    ,-5px 0px #111
    ,-6px 0px #111
    ,-7px 0px #111
    ,-8px 0px #111
    ,-9px 0px #111
    ,-10px 0px #111
    ,-11px 0px #111
    ,-12px 0px #111
    ,-13px 0px #111
    ,-14px 0px #111
    ,-15px 0px #111
    ,-16px 0px #111
    ,-17px 0px #111
    ,-18px 0px #111
    ,-19px 0px #111
    ,-20px 0px #111
    ,-21px 0px #111
    ;
}
.mbtn:hover{
    color:#111;
    -webkit-text-stroke: #fff 2px;
    text-shadow:
    -1px 0px #fff
    ,-2px 0px #fff
    ,-3px 0px #fff
    ,-4px 0px #fff
    ,-5px 0px #fff
    ,-6px 0px #fff
    ,-7px 0px #fff
    ,-8px 0px #fff
    ,-9px 0px #fff
    ,-10px 0px #fff
    ,-11px 0px #fff
    ,-12px 0px #fff
    ,-13px 0px #fff
    ,-14px 0px #fff
    ,-15px 0px #fff
    ,-16px 0px #fff
    ,-17px 0px #fff
    ,-18px 0px #fff
    ,-19px 0px #fff
    ,-20px 0px #fff
    ,-21px 0px #fff
    ;
}
.ml{/*menu left*/
}
.mr{/*menu right*/
}
.drag{
    -webkit-app-region:drag;
}
.close{
    color: red;
}
.boot{
    color: gray;
}

.hidden{
    display:none;
}
.top10{
    margin-top:10px;
}
.r{
    background-color: red;
}
.b{
    background-color: black;
}
.grn{
    background-color: darkgreen;
}
.wht{
    background-color: white;
}
.hlight{
    width: 100px;
    height: 40px;
    position: absolute;
    /* background-color: red; */
    z-index:5;
    opacity:0;
}
.hl{
    width:100%;
    height:100%;
    animation-fill-mode: forwards;
    position:absolute;
}
.hlight1{
    background-color:rgba(255, 0, 247, 0.481);
    animation: st-shadow 3s ease-in-out infinite;
}
.hlight2{
    background-color:rgba(86, 252, 4, 0.398);
    animation: st-shadow 4s ease-in-out 0.5s infinite;
}
.hlight3{
    background-color:rgba(0, 221, 237, 0.453);
    animation: st-shadow 3.5s ease-in-out 0.2s infinite;
}