.fl{
    float:left;
}
.left{
    position:absolute;
    left:30px;
    transform-origin: right;
    transform:perspective(200px)rotateY(-3deg);
}
.middle{
    position:absolute;
    left:210px;
    height:100%;
    overflow: auto;
    width:60px;
}
.right{
    position:absolute;
    left:280px;
}
.menu{
    list-style: none;   
    margin:0px;
    padding:0px;
}
.mbtn{
    width:60px;
    height:60px;
    line-height: 60px;
    text-align: center;
    /* box-shadow: 7px 7px 0px #333; */
    margin-top: 12px;
}
.starter{
    box-shadow: -14px -12px 0px #333;
    padding: 20px;
    line-height: 20px;
}
.starter div{
    cursor: pointer;
}
.gy{
    color:white;
    background-color: #777;
}
.top{
    -webkit-app-region:drag;
}
.hidden{
    display:none;
}
iframe{
    width:1000px;
    height:1000px;
    border:none;
}
.close{
    background-color: red;
}
.boot{
    background-color: gray;
}